.scene{
	border: solid 3px;
	    overflow-y: auto;
        overflow-x: hidden;
	position: relative;
}

.floor{

	border: solid 1px;
	width: 100%;
	position: absolute;

}
.objectVisual{
    position:absolute;
    border: solid 1px;

}

.entityVisual{
 position:absolute;
    border: solid 1px;
}

.floorContainer{
    position:relative;
}
#screen{
	display: flex;
    width: 98vw;
    height: 98vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
}
.elevator{
	align-self: center;
    border: solid 1px;
	position: absolute;
	/*transition: bottom 1s ease;  Add transition for smooth animation */
}

